{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>SharexCare - Sign Up</title>
</head>
<body>
	{% for message in messages  %}            
	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
		  <strong>Error : </strong> {{ message }}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
	{% endfor %}    
	<div class="signup_h1">
		<h1 >Sign Up</h1>
	</div>
	<div class="signin_signup_link">
		<p>If you have created an account, then <a href="{% url 'signin' %}" style="color: #d60bbc; text-decoration: none;">sign in</a>.</p>
	</div>
	
	<form action="{% url 'saved' %}" method="POST">
		{% csrf_token %}  
		<div class="signup_input">
			<span style="font-family:'Bookman Old Style'; font-size:20px;">Name*</span><br><br>
			<input name="name" type="text" class="signup_inputbox" placeholder="eg. Eren Yeager"> <i class="fa fa-github" style="font-size: 29px; padding-left: 5em; "> &nbsp;</i><input name="github" type="url" class="signup_inputbox"><br><br>

			
			<span style="font-family:'Bookman Old Style'; font-size:20px;">Username*</span><br><br>
			<input name="username" type="text" class="signup_inputbox"> <i class="fa fa-youtube" style="font-size: 29px; padding-left: 5em; "> &nbsp;</i><input name="youtube" type="url" class="signup_inputbox"><br><br>

			<span style="font-family:'Bookman Old Style'; font-size:20px;">Email*</span><br><br>
			<input name="useremail" type="email" class="signup_inputbox">&nbsp;<i class="fa fa-linkedin" style="font-size: 29px; padding-left: 5em; "> &nbsp;</i><input name="linkedin" type="url" class="signup_inputbox"><br><br>

			<span style="font-family:'Bookman Old Style'; font-size:20px;">Password*</span><br><br>
			<input name="userpass" type="password" class="signup_inputbox"><br><br>

			<span style="font-family:'Bookman Old Style'; font-size:20px;">Confirm Password*</span><br><br>
			<input name="usercpass" type="password" class="signup_inputbox" ><br><br>
			
		</div>
		<div class="signin_button">
			<input type="submit" id="signin_btn" value="Sign Up">
			
		</div>
	</form>
	<p>{{ data }}</p>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>